.background {
	background-image: url("Space2.jpg");
	background-repeat: repeat;
	background-size: cover;
}

h1{
	color: white;
	padding-top: 2px;
}
h4{
	color: white;
}

p{
	color: white;
}

ul {
  list-style-type: none;
}


#SpaceMissions {
	color: white;
	padding-bottom: 2px;

}

#MissionNames {
	color: white;
}

.everything{
	text-align: center;
	font-family: georgia; 
	background-color: #15151D;
	width: 70%;
	display:block; 
	border-radius: 25px;
	margin: auto;
	padding-bottom: 2px;
}


