.background {
	background-image: url("Space2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	color: white;
}
h4{
	color: white;
}

p{
	color: white;
}

#SpaceMissions {
	color: white;
}

#MissionNames {
	color: white;
}

.everything{
	text-align: center;
	background-color: #15151D;
	width: 700px;
	display:block; 
	border-radius: 25px;
	margin: auto;
}
