{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="everything">
<h1 class = "mt-5 container w-75">About the Data</h1>
<p class = "container">The data used in this web app is from the CORGIS Dataset Project and can be found <a href="https://think.cs.vt.edu/corgis/json/index.html">here</a>. 
The data in this file consists of publicly available information about all the astronauts who 
participated in space missions before January 15, 2020. It contains profile information detailing
each astronaut’s background such as the birth year, gender, nationality, as well as mission information 
detailing the specifics of the astronaut’s mission like mission duration, mission name, vehicles used, etc. 
It also documents the astronaut’s EVA time. EVA stands for Extravehicular Activity, which is an activity 
that an astronaut does outside the vehicle, on the vehicle (i.e. fixing a solar panel on a satellite).  
(<a href="https://en.wikipedia.org/wiki/Extravehicular_activity">Source</a>)</p>
<br>
<p class = "container">There are cases when lots of research has to be done in space, and sometimes this research requires more than one trip to space.
Astronauts go on multiple missions sometimes for research, or in order to reach a certain goal. Some famous multiple trip space missions 
include the Artemis and Apollo Missions. The Artemis missions and the Apollo missions were/are a series of ongoing lunar space missions 
started around the 1960s-1970s. Space missions are very important in order to research and understand the vast space that surrounds us.
(<a href="https://www.rmg.co.uk/stories/topics/nasa-moon-mission-artemis-program-launch-date">Source</a>) </p>
</div>
{% endblock %}
