{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class = "mt-5 container w-75">About the Data</h1>
<p class = "container">The data used in this web app is from the CORGIS Dataset Project and can be found <a href="https://think.cs.vt.edu/corgis/json/index.html">here</a>. 
The data in this file consists of publicly available information about all the astronauts who 
participated in space missions before January 15, 2020. It contains profile information detailing
each astronaut’s background such as the birth year, gender, nationality, as well as mission information 
detailing the specifics of the astronaut’s mission like mission duration, mission name, vehicles used, etc. 
It also documents the astronaut’s EVA time. EVA stands for Extravehicular Activity, which is an activity 
that an astronaut does outside the vehicle, on the vehicle (i.e. fixing a solar panel on a satellite).  
*explain how astonauts go on multiple missions
(<a href="https://en.wikipedia.org/wiki/Extravehicular_activity">Source</a>)</p>


{% endblock %}