{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
<div class="everything">
		<h1 class="mt-5 ms-4" >Country</h1>
		<h4 class="mt-2 ms-4 mb-4">Get a country's longest EVA and Longest mission!</h2>
		<form action="/p1" >
		  <select name="nationality">
			{{ options }}
		  </select>
		  <br><br>
		  <input type="submit">
		</form>
		<div id='EVA' class="mt-4">
			<p>{{ EVA }}</p>
		</div>
		<div id='Mission' class="mt-4">
			<p>{{ Mission }}</p>
		</div>
</div>
{% endblock %}