{% extends "layout.html" %}

{% set active_page = "page3" %}

{% block title %}Page 3{% endblock %}

{% block content %}
    <!--page content-->
<div class="everything">
		<h1 class="mt-5 ms-4">Extra</h1>
		<h4 class="mt-2 ms-4 mb-4">Get information about a mission of your choice!</h4>
			<form action="/p3">
			  <select name="mission">
				{{ options3 }}
			  </select>
			  <br><br>
			  <input type="submit">
			</form>
		<div id='MissionYear' class="mt-4">
			<p>{{MissionYear}}</p>
		</div>
		<div id='MissionNames' class="mt-4">
			<p>{{ MissionNames }}</p>
		</div>
</div>
{% endblock %}