{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}Page 2{% endblock %}

{% block content %}
    <!--page content-->
<div class="everything">
		<h1 class="mt-4 ms-4">Year</h1>
		<h4 class="mt-2 ms-4 mb-4">Get the missions, overall and national astronaut numbers from a certain year!</h4>
	<div class="ms-5">
		<form action="/p2" >
		  <select name="year">
			{{ options2 }}
		  </select>
		  <br><br>
		  <input type="submit">
		</form>
		<div id='NationNumbers' class="mt-4">
			<p>{{ NationNumbers }}</p>
		</div>
		<div id='OverNumebrs' class="mt-4">
			<p>{{ OverNumbers }}</p>
		</div>
		<div id='SpaceMissions' class="mt-4">
			<p>{{ SpaceMissions }}</p>
		</div>
	</div>
</div>
{% endblock %}